*{
	margin: 0px;
	padding: 0px;
}

.title{
	color: #042326;
	background-color: #1D7373;
	padding: 25px 200px;
	display: flex;
	
}

.form label input {
	display: inline-block;
}


.producto {
	max-width: 20%;
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
	display: flex;
  	flex-direction: column;
  	align-items: center;
 	justify-content: space-between;


}

#box-productos {
	display: flex;
	justify-content: space-evenly;

}


.carrito{
	min-height: 70vh;
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

.table__productos{
	display: flex;
}

.table__productos img {
	width: 9rem;
	object-fit: contain;
	border-radius: 6px;
	margin-right: 20px;
}

.table__cantidad input {
	width: 40px;
	border: none;
	outline: 0;
	margin-right: 30px;
	margin-bottom: 20px;
}